<div class="stat-entry basic">
    <div class="label">{{label}}</div>
    {{#if showInput}}
    {{input class="stat-value edit" value=(mut value) min="0" type="number" inputmode="numeric" enter="unfocus" focus-out="focusOut"}}
    {{else}}
    <div class="stat-value" {{action activate}}>{{basic-stat-value value}}</div>
    {{input class="tabfix" type="text" focus-in="focusMe"}}
    {{/if}}
    <div class="stat-percents">
        {{stat-percent value=valPercent1}}
        {{stat-percent value=valPercent2}}
        {{stat-percent value=valPercent3}}
    </div>
</div>
