<div class="stat-entry basic">
    <div class="label">{{label}}</div>
    <div class="stat-value">{{basic-stat-value value}}</div>
    <div class="stat-percents">
        {{stat-percent value=valPercent1}}
        {{stat-percent value=valPercent2}}
        {{stat-percent value=valPercent3}}
    </div>
</div>
