<div class="stat-entry basic {{pid}}">
    <div class="label">{{label}}</div>
    {{#if showInput}}
        {{input class="stat-value edit" value=(mut value) min="0" type="number" inputmode="numeric" enter="unfocus" focus-out="focusOut"}}%
    {{else}}
        <div class="stat-value" {{action activate}}>{{percent-stat-value (div value 100)}}</div>
    {{/if}}
</div>
