<div class="stat-card-tools">
    <div class="header">
        <p>{{t "ui.cards.card.tools"}}</p>
    </div>
    <div class="tool-list">
        <ul>
            <li>{{delete-card-button card=model onConfirm=(action "reallyDeleteCard")}}</li>
            <li><button class="toolbutton" {{action "snapshot"}}><i class="fa fa-camera"></i></button></li>
        </ul>
    </div>
</div>
<div class="stat-card" id="stat-card-active">
    <div class="content">
        <div class="header-box">
            {{#link-to "cards.card.select-class" model class="edit clazz"}}
            <img class="class-icon" src="https://static.divinitor.com/site/common/classicons/small/blue/{{model.characterClassId}}.png" />
            {{/link-to}}
            <div class="edit charname">
                {{basic-stat label="" value=model.characterName onEdit="saveChange" isText="true"}}
            </div>
            <h2>L
                <div class="edit level">
                    {{basic-stat label="" value=model.level onEdit="saveChange"}}
                </div> 
                {{#link-to "cards.card.select-class" model class="edit clazz"}}{{t (concat "classes." model.characterClassId)}}{{/link-to}}
            </h2>
            <h2 class="moddate">{{moment-format model.lastUpdated 'MM/DD/YYYY'}}</h2>
            <div class="edit description">
                {{basic-stat label="" value=model.remark onEdit="saveChange" isText="true"}}
            </div>
        </div>

        <div class="stat-column left">
            <div class="statgroup">
                <h3>{{t "ui.cards.card.statgroup.general"}}</h3>
                {{basic-stat label=(t "stats.hp") value=model.statHp onEdit="saveChange"}}
                {{basic-stat label=(t "stats.mana") value=model.statMana onEdit="saveChange"}}
            </div>
            <div class="divider"></div>
            <div class="statgroup">
                <h3>{{t "ui.cards.card.statgroup.base"}}</h3>
                {{basic-stat label=(t "stats.str") value=model.statStr onEdit="saveChange"}}
                {{basic-stat label=(t "stats.agi") value=model.statAgi onEdit="saveChange"}}
                {{basic-stat label=(t "stats.int") value=model.statInt onEdit="saveChange"}}
                {{basic-stat label=(t "stats.vit") value=model.statVit onEdit="saveChange"}}

            </div>
            <div class="divider"></div>
            <div class="statgroup">
                <h3>{{t "ui.cards.card.statgroup.damage"}}</h3>
                {{range-stat label=(t "stats.pdmg") minValue=model.statPDmgMin maxValue=model.statPDmgMax onEdit="saveChange"}}
                {{range-stat label=(t "stats.mdmg") minValue=model.statMDmgMin maxValue=model.statMDmgMax onEdit="saveChange"}}

            </div>
            <div class="divider"></div>
            <div class="statgroup">
                <h3>{{t "ui.cards.card.statgroup.defense"}}</h3>
                {{cap-percent-labels}}
                {{cap-percent-stat label=(t "stats.pdef") value=model.statPDef onEdit="saveChange" valPercent1=(calc-def model.statPDef 80) valPercent2=(calc-def model.statPDef 90) valPercent3=(calc-def model.statPDef 93)}}
                {{cap-percent-stat label=(t "stats.mdef") value=model.statMDef onEdit="saveChange" valPercent1=(calc-def model.statMDef 80) valPercent2=(calc-def model.statMDef 90) valPercent3=(calc-def model.statMDef 93)}}
            </div>
        </div>
        <div class="stat-column">
            <div class="statgroup">
                <h3>{{t "ui.cards.card.statgroup.critical"}}</h3>
                {{cap-percent-labels}}
                {{cap-percent-stat label=(t "stats.crit") value=model.statCrit onEdit="saveChange" valPercent1=(calc-crit model.statCrit 80) valPercent2=(calc-crit model.statCrit 90) valPercent3=(calc-crit model.statCrit 93)}}
                {{cap-percent-stat label=(t "stats.critdmg") value=model.statCritDmg onEdit="saveChange" valPercent1=(calc-critdmg model.statCritDmg 80) valPercent2=(calc-critdmg model.statCritDmg 90) valPercent3=(calc-critdmg model.statCritDmg 93)}}
            </div>
            <div class="divider"></div>
            <div class="statgroup elemental">
                <h3>{{t "ui.cards.card.statgroup.elemental"}}</h3>
                <a href="#" class="element-selector" {{action "toggleEditElemental"}}>
                    {{#if showAllElements}}
                    {{t "ui.cards.card.elemental.done"}}
                    {{else}}
                    {{t "ui.cards.card.elemental.unset"}}
                    {{/if}}
                </a>
                <p class="elemental-status">
                {{# if isNonElemental}}
                    {{t "ui.cards.card.elemental.none"}}
                {{/if}}
                {{# if isInnate}}
                    {{t "ui.cards.card.elemental.innate"}}
                {{/if}}
                {{# if isConverted}}
                    {{t "ui.cards.card.elemental.conversion"}}
                {{/if}}
                </p>
                {{#if showEle.fire}}
                    {{percent-stat label=(t "stats.fire") value=model.statFire onEdit="saveChange" pid="fire" editable=showAllElements}}
                {{/if}}
                {{#if showEle.ice}}
                    {{percent-stat label=(t "stats.ice") value=model.statIce onEdit="saveChange" pid="ice" editable=showAllElements}}
                {{/if}}
                {{#if showEle.light}}
                    {{percent-stat label=(t "stats.light") value=model.statLight onEdit="saveChange" pid="light" editable=showAllElements}}
                {{/if}}
                {{#if showEle.dark}}
                    {{percent-stat label=(t "stats.dark") value=model.statDark onEdit="saveChange" pid="dark" editable=showAllElements}}
                {{/if}}
            </div>
            <div class="divider"></div>
            <div class="statgroup">
                <h3>{{t "ui.cards.card.statgroup.misc"}}</h3>
                {{cap-percent-labels}}
                {{cap-percent-stat label=(t "stats.fd") value=model.statFD onEdit="saveChange" valPercent1=(calc-fd model.statFD 80) valPercent2=(calc-fd model.statFD 90) valPercent3=(calc-fd model.statFD 93)}}
                {{basic-stat label=(t "stats.hero") value=model.statHeroLevel onEdit="saveChange"}}

            </div>
        </div>
        <img class="branding" src="https://static.divinitor.com/site/common/img/dv-web-statcard-brand.png" />
    </div>
    <p class="footer-tip">{{t "ui.cards.card.footer-tip"}}</p>
</div>
{{outlet}}
