<div class="stat-card-tools">
    <div class="header">
        <p>{{t "ui.cards.card.tools"}}</p>
    </div>
    <div class="tool-list">
        {{delete-card-button card=model onConfirm=(action "reallyDeleteCard")}}
    </div>
</div>
<div class="stat-card">
    <div class="content">
        <div class="header-box">
            <img class="class-icon" src="https://static.divinitor.com/site/common/classicons/small/blue/{{model.characterClassId}}.png" />
            <div class="edit charname">
                {{input value=model.characterName maxlength="16" key-up="saveChange"}}
            </div>
            <h2>L<span class="edit level">{{input value=model.level min="1" max="100" type="number" inputmode="numeric" key-up="saveChange"}}</span> {{format-class model.characterClassId}}</h2>
        </div>
    </div>
    <p class="footer-tip">{{t "ui.cards.card.footer-tip"}}</p>
</div>
