<div class="stat-card-tools">
    <div class="header">
        <p>{{t "ui.cards.card.tools"}}</p>
    </div>
    <div class="tool-list">
        {{delete-card-button card=model onConfirm=(action "reallyDeleteCard")}}
    </div>
</div>
<div class="stat-card">
    <div class="content">
        <div class="header-box">
            {{#link-to "cards.card.select-class" model class="edit clazz"}}
            <img class="class-icon" src="https://static.divinitor.com/site/common/classicons/small/blue/{{model.characterClassId}}.png" />
            {{/link-to}}
            <div class="edit charname">
                {{input value=model.characterName maxlength="16" key-up="saveChange"}}
            </div>
            <h2>L
                <span class="edit level">
                    {{input value=model.level min="1" max="100" type="number" inputmode="numeric" key-up="saveChange"}}
                </span> 
                {{#link-to "cards.card.select-class" model class="edit clazz"}}{{format-class model.characterClassId}}{{/link-to}}
            </h2>
            <h2 class="moddate">{{moment-format model.lastUpdated 'MM/DD/YYYY'}}</h2>
            <div class="edit description">
                {{input value=model.remark key-up="saveChange"}}
            </div>
        </div>

        <div class="stat-column left">
            <div class="statgroup">
                <h3>{{t "ui.cards.card.statgroup.general"}}</h3>

            </div>
            <div class="divider"></div>
            <div class="statgroup">
                <h3>{{t "ui.cards.card.statgroup.base"}}</h3>

            </div>
            <div class="divider"></div>
            <div class="statgroup">
                <h3>{{t "ui.cards.card.statgroup.damage"}}</h3>

            </div>
            <div class="divider"></div>
            <div class="statgroup">
                <h3>{{t "ui.cards.card.statgroup.defense"}}</h3>

            </div>
        </div>
        <div class="stat-column">
            <div class="statgroup">
                <h3>{{t "ui.cards.card.statgroup.critical"}}</h3>

            </div>
            <div class="divider"></div>
            <div class="statgroup">
                <h3>{{t "ui.cards.card.statgroup.elemental"}}</h3>

            </div>
            <div class="divider"></div>
            <div class="statgroup">
                <h3>{{t "ui.cards.card.statgroup.misc"}}</h3>

            </div>
        </div>
        <img class="branding" src="/assets/images/branding.png" />
    </div>
    <p class="footer-tip">{{t "ui.cards.card.footer-tip"}}</p>
</div>
{{outlet}}
