<div class="stat-card-tools">
    <div class="header">
        <p>{{t "ui.cards.card.tools"}}</p>
    </div>
    <div class="tool-list">
        <ul>
            <li class="tooltip">
                {{delete-card-button card=model onConfirm=(action "reallyDeleteCard")}}
                <span class="tooltext">Delete Card</span>
            </li>
            <li class="tooltip">
                <button class="toolbutton" {{action "duplicateCard"}}><i class="fa fa-copy"></i></button>
                <span class="tooltext">Duplicate Card</span>
            </li>
            <li class="tooltip">
                {{#link-to "cards.import"}}<button class="toolbutton"><i class="fa fa-upload"></i></button>{{/link-to}}
                <span class="tooltext">Import Card</span>
            </li>
            <li class="tooltip">
                <button class="toolbutton" {{action "export"}}><i class="fa fa-download"></i></button>
                <span class="tooltext">Export Card Data</span>
            </li>
            <li class="tooltip">
                <button class="toolbutton" {{action "snapshot"}}><i class="fa fa-camera"></i></button>
                <span class="tooltext">Export Card Image</span>
            </li>
        </ul>
    </div>
</div>
<div class="stat-card" id="stat-card-active">
    <div class="content">
        <div class="header-box">
            {{#link-to "cards.card.select-class" model class="edit clazz"}}
            <img class="class-icon" src="https://static.divinitor.com/site/common/classicons/small/blue/{{model.characterClassId}}.png" />
            {{/link-to}}
            <div class="edit charname">
                {{basic-stat label="" value=model.characterName onEdit="saveChange" isText="true"}}
            </div>
            <h2>L
                <div class="edit level">
                    {{basic-stat label="" value=model.level onEdit="saveChange"}}
                </div> 
                {{#link-to "cards.card.select-class" model class="edit clazz"}}{{t (concat "classes." model.characterClassId)}}{{/link-to}}
            </h2>
            <h2 class="moddate">{{moment-format model.lastUpdated 'MM/DD/YYYY'}}</h2>
            <div class="edit description">
                {{basic-stat label="" value=model.remark onEdit="saveChange" isText="true"}}
            </div>
        </div>

        <div class="stat-column left">
            <div class="statgroup">
                <h3>{{t "ui.cards.card.statgroup.general"}}</h3>
                {{basic-stat label=(t "stats.hp") value=model.statHp onEdit="saveChange"}}
                {{!--{{basic-stat label=(t "stats.mana") value=model.statMana onEdit="saveChange"}}--}}
            </div>
            <div class="divider"></div>
            <div class="statgroup">
                <h3>{{t "ui.cards.card.statgroup.base"}}</h3>
                {{basic-stat label=(t "stats.str") value=model.statStr onEdit="saveChange"}}
                {{basic-stat label=(t "stats.agi") value=model.statAgi onEdit="saveChange"}}
                {{basic-stat label=(t "stats.int") value=model.statInt onEdit="saveChange"}}
                {{basic-stat label=(t "stats.vit") value=model.statVit onEdit="saveChange"}}

            </div>
            <div class="divider"></div>
            <div class="statgroup">
                <h3>{{t "ui.cards.card.statgroup.damage"}}</h3>
                {{# if isPhysical}}
                {{range-stat label=(t "stats.pdmg") minValue=model.statPDmgMin maxValue=model.statPDmgMax onEdit="saveChange"}}
                {{/if}}
                {{# if isMagical}}
                {{range-stat label=(t "stats.mdmg") minValue=model.statMDmgMin maxValue=model.statMDmgMax onEdit="saveChange"}}
                {{/if}}
            </div>
            <div class="divider"></div>
            <div class="statgroup">
                <h3>{{t "ui.cards.card.statgroup.defense"}}</h3>
                {{cap-percent-labels}}
                {{cap-percent-stat label=(t "stats.pdef") value=model.statPDef onEdit="saveChange" valPercent1=(calc-def model.statPDef 90) valPercent2=(calc-def model.statPDef 93) valPercent3=(calc-def model.statPDef 95)}}
                {{cap-percent-stat label=(t "stats.mdef") value=model.statMDef onEdit="saveChange" valPercent1=(calc-def model.statMDef 90) valPercent2=(calc-def model.statMDef 93) valPercent3=(calc-def model.statMDef 95)}}
            </div>
        </div>
        <div class="stat-column">
            <div class="statgroup">
                <h3>{{t "ui.cards.card.statgroup.critical"}}</h3>
                {{cap-percent-labels}}
                {{cap-percent-stat label=(t "stats.crit") value=model.statCrit onEdit="saveChange" valPercent1=(calc-crit model.statCrit 90) valPercent2=(calc-crit model.statCrit 93) valPercent3=(calc-crit model.statCrit 95)}}
                {{cap-percent-stat label=(t "stats.critdmg") value=model.statCritDmg onEdit="saveChange" valPercent1=(calc-critdmg model.statCritDmg 90) valPercent2=(calc-critdmg model.statCritDmg 93) valPercent3=(calc-critdmg model.statCritDmg 95)}}
            </div>
            <div class="divider"></div>
            <div class="statgroup elemental">
                <h3>{{t "ui.cards.card.statgroup.elemental"}}</h3>
                <a href="#" class="element-selector" {{action "toggleEditElemental"}}>
                    {{#if showAllElements}}
                    {{t "ui.cards.card.elemental.done"}}
                    {{else}}
                    {{t "ui.cards.card.elemental.unset"}}
                    {{/if}}
                </a>
                <p class="elemental-status">
                {{# if isNonElemental}}
                    {{t "ui.cards.card.elemental.none"}}
                {{/if}}
                {{# if isInnate}}
                    {{t "ui.cards.card.elemental.innate"}}
                {{/if}}
                {{# if isConverted}}
                    {{t "ui.cards.card.elemental.conversion"}}
                {{/if}}
                </p>
                {{#if showEle.fire}}
                    {{percent-stat label=(t "stats.fire") value=model.statFire onEdit="saveChange" pid="fire" editable=showAllElements}}
                {{/if}}
                {{#if showEle.ice}}
                    {{percent-stat label=(t "stats.ice") value=model.statIce onEdit="saveChange" pid="ice" editable=showAllElements}}
                {{/if}}
                {{#if showEle.light}}
                    {{percent-stat label=(t "stats.light") value=model.statLight onEdit="saveChange" pid="light" editable=showAllElements}}
                {{/if}}
                {{#if showEle.dark}}
                    {{percent-stat label=(t "stats.dark") value=model.statDark onEdit="saveChange" pid="dark" editable=showAllElements}}
                {{/if}}
            </div>
            <div class="divider"></div>
            <div class="statgroup">
                <h3>{{t "ui.cards.card.statgroup.misc"}}</h3>
                {{cap-percent-labels}}
                {{cap-percent-stat label=(t "stats.fd") 
                    value=model.statFD onEdit="saveChange" 
                    valPercent1=(calc-fd model.statFD 90 (if fdBonusOn (bonus-helper model.characterClassId "fd" "amount"))) 
                    valPercent2=(calc-fd model.statFD 93 (if fdBonusOn (bonus-helper model.characterClassId "fd" "amount"))) 
                    valPercent3=(calc-fd model.statFD 95 (if fdBonusOn (bonus-helper model.characterClassId "fd" "amount")))
                }}
                {{#if (has-bonus model.characterClassId "fd")}}
                    <div class="class-fd-bonus-toggle">
                        <div class="tooltip">
                                {{#if fdBonusOn}}
                                    <button class="bonus-on" {{action "toggleFdBonus"}}>
                                        X
                                    </button>
                                {{else}}
                                    <button class="bonus-off" {{action "toggleFdBonus"}}>
                                        +
                                    </button>
                                {{/if}}
                            <span class="tooltext">{{t (bonus-helper model.characterClassId "fd" "nameKey")}}</span>
                        </div>
                    </div>
                {{/if}}
                {{basic-stat label=(t "stats.hero") value=model.statHeroLevel onEdit="saveChange"}}
                <div class="stat-entry basic tooltip">
                    <div class="label">{{t "stats.combined"}}</div>
                    <div class="stat-fixed-value">{{basic-stat-value cDmg "K"}}</div>
                    <span class="tooltext wide push-up">{{t "stats.tooltip.combined"}}</span>
                </div>
            </div>
        </div>
        <img class="branding" src="https://static.divinitor.com/site/common/img/dv-web-statcard-brand.png" />
    </div>
    <p class="footer-tip">{{t "ui.cards.card.footer-tip"}}</p>
</div>

<div class="hidden">
    <a id="export-dummy"></a>
</div>
{{outlet}}
