<div class="stat-card-tools">
    <div class="header">
        <p>{{t "ui.cards.card.tools"}}</p>
    </div>
    <div class="tool-list">
        {{delete-card-button card=model onConfirm=(action "reallyDeleteCard")}}
    </div>
</div>
<div class="stat-card">
    <div class="content">
        <div class="header-box">
            <img class="class-icon" src="https://static.divinitor.com/site/common/classicons/small/blue/{{model.characterClassId}}.png" />
            <h1>{{model.characterName}}</h1>
            <h2>L{{model.level}} {{format-class model.characterClassId}}</h2>
        </div>
    </div>
    <p class="footer-tip">{{t "ui.cards.card.footer-tip"}}</p>
</div>
