<div class="import-view">
    <div class="import"> 
        <div class="accent-box top"></div>
        <h2><i class="fa fa-upload"></i> {{t "ui.cards.import.title"}}</h2>
        <div class="select-file">
            <p>{{t "ui.cards.import.select"}}</p>
            <label class="button card-upload-btn">
                <i class="fa fa-folder-open"></i>{{t "ui.cards.import.selectbtn"}}
                <input id="cardup" type="file" onchange={{action "import"}} accept=".DVSTATCARD"/>
            </label>
        </div>

        {{#if error}}
        <div class="error">
            <div class="icon">
                <i class="fa fa-exclamation-triangle"></i>
            </div>
            <div class="content">
                {{t errMsgKey}}
            </div>
        </div>
        {{/if}}

        <p>
            {{t "ui.cards.import.importdngs.first"}}<a href="https://spacem.github.io/dngearsim/">{{t "ui.cards.import.importdngs.gearsim"}}</a>{{t "ui.cards.import.importdngs.last"}}
        </p>
        <div class="accent-box bottom"></div>
    </div>
</div>