{{#unless model}}
<div class="dialog-container">
    <div class="accent-box top"></div>
    <div class="container-body">
        <div class="content">
            <h1>
                {{t "ui.cards.no-cards.title"}}
            </h1>
            <h2>
                {{t "ui.cards.no-cards.subtitle"}}
            </h2>
            <p>
                {{t "ui.cards.no-cards.body-1"}}
                <a href="#" {{action "createCard"}}>{{t "ui.cards.no-cards.body-create"}}</a>
                {{t "ui.cards.no-cards.body-2"}}
                {{#link-to "cards.import"}}{{t "ui.cards.no-cards.body-import"}}{{/link-to}}
            </p>
            <p>
                {{t "ui.cards.no-cards.warning"}}
            </p>
        </div>
    </div>
    <div class="accent-box bottom"></div>
</div>
{{/unless}}
