<div class="narrow-warning">
    <p>{{t "ui.cards.minsize"}}</p>
</div>

<div class="locale-selector">
    {{t "ui.lang.en"}}: 
    <a href="#" {{action "setLocale" "en-us"}}>NA</a> | 
    <a href="#" {{action "setLocale" "en-sea"}}>SEA</a> | 
    <a href="#" {{action "setLocale" "en-eu"}}>EU</a>
</div>

<div class="statcard-view">
    {{#if model}}
        <div class="card-list-panel">
            <div class="header">
                <p>{{t "ui.cards.statcards"}}</p>
            </div>
            <div class="card-list-scroller">
                <ul>
                {{#each model as |card|}}
                    {{#link-to "cards.card" card}}
                    <li class="card-list-entry">
                        <img class="class-icon" src="https://static.divinitor.com/site/common/classicons/small/blue/{{card.characterClassId}}.png" />
                        <h1>{{card.characterName}}</h1>
                        <h2>{{card.remark}}</h2>
                    </li>
                    {{/link-to}}
                {{/each}}
                </ul>
            </div>
            <ul>
                <a href="#" {{action "createCard"}}>
                    <li>
                            <div class="add-card-entry">
                                {{t "ui.cards.create-card"}}
                            </div>
                    </li>
                </a>
            </ul>
        </div>
    {{/if}}
    {{outlet}}
</div>
